# --- Gradle ---
.gradle/
build/

# --- IntelliJ IDEA ---
.idea/
*.iml
*.iws
*.ipr
out/

# --- Minecraft Runtime (Run Configurations) ---
run/
run_server/
run_client/
run_game_test/
*.log
logs/

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- Native Libraries & User-Specific ---
bin/
!/src/main/resources/icon.png # 确保你的鱼板图标不会被意外排除